:root {
  --main-color: rgba(10, 10, 10, 0.733);
  --secondary-color: darkgreen;
}

body {
  margin: 0;
  color: rgb(177, 177, 177);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.leftBackground {
  background-image: url("../Images/Leaf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40vw;
  padding: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  margin-top: calc((100vh - 70vh));
}

.credit {
  box-sizing: border-box;
  position: fixed;
  text-align: center;
  width: 40vw;
  text-decoration: none;
  bottom: 0;
  font-size: 0.9rem;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

.rightContainer {
  background-color: black;
  background-size: auto;
  display: flex;
  flex-flow: column nowrap;
  width: 60vw;
  box-sizing: border-box;
}

.upperText {
  justify-content: end;
  padding-bottom: 50px;
  box-sizing: border-box;
  padding-left: 30px;
  flex-flow: column wrap;
  gap: 30px;
  font-size: 1.4rem;
  display: flex;
  height: 30vh;
}

.moreUseless {
  color: var(--secondary-color);
  font-weight: 800;
}

.logo {
  box-sizing: border-box;
}

.coffee {
  filter: brightness(0) invert(1);
  width: 110px;
  height: 110px;
}

.logoText {
  white-space: nowrap;
  text-align: left;
  font-weight: 1000;
  font-size: 1.7rem;
  display: flex;
}

.signUpForm {
  background-color: var(--main-color);
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  gap: 30px; /*30 gap when minimising screen, boxes don't overlap*/
  box-shadow: 0px 5px 5px rgb(18, 18, 18);
  display: flex;
}

.formHeader {
  width: 100%;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0;
  border: 0;
  margin: 0;
}

.inputContainer {
  font-size: 0.9rem;
  display: flex;
  width: 25vw;
  flex-flow: column wrap;
}

.button {
  padding-top: 30px;
}

.createAccount {
  display: inline-block;
}

.button,
.createAccount {
  padding-left: 20px;
}

.rickRoll {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
}

.rickRoll:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  font-weight: 600;
}

input[type="text"],
[type="number"],
[type="email"],
[type="password"] {
  color: grey;
  background-color: rgba(10, 10, 10, 0.733);
  border: 2px solid rgba(30, 30, 30, 0.733);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.3rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin: 5px;
}

button[type="submit"] {
  color: var(--secondary-color);
  background-color: var(--main-color);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  width: min(50%, 200px);
  font-weight: 1000;
}

button[type="submit"]:active {
  background: var(--main-color);
  border: 2px solid rgba(30, 30, 30, 0.733);
}

/*at max-width 600px, want to apply this style) */

@media only screen and (max-width: 700px) {
  body {
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100vw;
  }

  .content {
    flex-flow: column;
    text-align: center;
  }

  .leftBackground {
    background-position: center;
    justify-content: center;
    background-size: 100vw;
    height: 10vh;
    width: 100vw;
  }

  .logo {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    box-sizing: border-box;
    display: flex;
    flex-wrap: row;
    width: auto;
    height: 10vh;
    gap: 10px;
    padding: 10px;
  }

  .logoText {
    font-size: 1rem;
  }

  .coffee {
    width: 10vw;
    height: 9vh;
    filter: brightness(0) invert(1);
  }

  .credit {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
  }

  .logo {
    margin-top: 0;
  }

  .rightContainer {
    width: 100vw;
    height: 100vh;
    padding-bottom: 20px;
  }

  .upperText {
    width: auto;
    box-sizing: border-box;
    padding: 20px;
  }

  .inputContainer {
    width: auto;
  }

  .button,
  .createAccount {
    padding-left: 0;
  }

  .signUpForm {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
}
